body
{
   background-color: #fff;
   color: #222;
   font-size: 1.1em;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   text-align: left;
   padding: 2%;
}

#page
{
   margin: 0%;
   padding: 0%;
}

@media only screen and (min-width: 1000px)
{
  /* For large screens: */
  #page
  {
     padding-left: 10%;
     padding-right: 10%;
  }
}

a
{
   font-style: normal;
   text-decoration: none;
   color: #922;
}

a:hover
{
   font-weight: bold;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center
}

.image {
	flex-basis: 25%;
	padding-bottom: 20px;
}

.text {
	flex-basis: 100%;
	padding-left: 20px;
}

.img-circle {
  border-radius: 35%;
  max-width: 95%
}

header
{
   margin-bottom: 20px;
   margin-top: 0px;
   background-color: #fff;
   border-bottom: 3px ridge #222;
   padding: 0.05%;
}

header h1
{
   color: #222;
   font-size: 2.5em;
   display: inline-block;
   width: 100%;
   font-weight: normal;
   font-style: normal;
   margin-bottom: 5px;
}

.jp
{
  font-size: .75em;
  color: #252525;
  white-space: nowrap;
}

header h2
{
   color: #444;
   font-size: 1.25em;
   display: inline-block;
   width: 100%;
   font-weight: normal;
   font-style: normal;
   margin-top: 0px;
   margin-bottom: 5px;
}

header h3
{
   color: #555;
   font-size: 1em;
   display: inline-block;
   width: 100%;
   font-weight: normal;
   font-style: normal;
   margin-top: 0px;
}

article
{
   background-color: #fff;
   margin-bottom: 10px;
   border-bottom: 1px ridge #222;
   text-align: justify;
   padding: 0.05%;
}

article h2
{
   font-size: 1.25em;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: underline;
}

article h3
{
   font-size: 1.125em;
   font-weight: bold;
   text-decoration: none;
   margin-top: 1.5em;
}

.emph
{
   font-style: italic;
}

article ul
{
   list-style-position : inside;
   list-style-type: disc;
   padding-left: 3px;
   text-align: justify;
}

article li
{
   margin-left: 10px;
   margin-bottom: 6px;
}

nav
{
   display: inline-block;
   text-align: right;
   width: 100%;
   text-transform: uppercase;
   margin-top: 10px;
}

.navigation, .selection
 {
   font-size: 1.25em;
   font-style: normal;
   color: #222;
   text-decoration: none;
   padding-bottom: 3px;
   padding-left: 2.5em;
   font-family: "Lucida Console", Monaco, monospace;
   white-space: nowrap;
 }

 @media only screen and (max-width: 600px)
 {
   /* For small screens: */
   .navigation, .selection
   {
      display: block;
      padding-bottom: 0px;
   }
 }

.selection
{
   color:#454545;
   text-decoration: underline;
}

.language
{
   display: inline-block;
   text-align: right;
   width: 28%;
}

.language ul
{
   list-style-type: none;
   padding-left: 0;
}

.language li
{
   display: inline-block;
}

.language img
{
   width: 30px;
   height: 20px;
   border: 1px ridge #222;
   border-radius: 2px;
   margin-right: 0%;
   margin-left: 0%;
}
